body{
    background-color: #1b1b1b;
    background-repeat: no-repeat;
	background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
h1{
     color:whitesmoke;
    text-align: center;
	width: 100%;
    font-style: oblique;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    font-weight: initial;
    padding-top: 2%;
}
footer {
	background-color: #0005;
	padding: 7px;
	text-align: center;
	font-weight: bold;
	color: white;	
    bottom:0;
    width: 100%;
    position:fixed;
    left: 0;
    bottom: 0;
}
.listFooter {
    position:relative;
}
#logo {
    margin-left: auto;
    margin-right: auto;
}
#logo img{
	
    height: 40%;
    display: block;
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
li{
    list-style-type:none;
    color: whitesmoke;
    text-align: justify;
    font-size: x-large;
	text-align: center;
	width: 100%; 
}
div.scrollmenu {
    background-color: #2f2f2f;
    overflow: auto;
    white-space: nowrap;
    display: block;
    text-align: center;
    position:relative;
}
div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}
div.scrollmenu a:hover {
    background-color: #777;
}
header{
    color: red;
    height:2px;
    background-color:red;
    position:absolute;
    width: 100%;
    position:absolute;
}

.red{
    color: red;
    text-align: center;
}

.blue{
    text-align: center;
    color: blue;
}

.info{
    text-align: center;
    color: whitesmoke;
}

.info a:hover{
    color: gray;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}

.dclink{
    color: whitesmoke;
}

.video{

    display: block;
    margin-left: auto;
    margin-right: auto;
    
    
}

#homeinfo{
    color:whitesmoke;
    text-align: center;
	width: 100%;
    font-style: oblique;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    font-weight: initial;
    margin-top: 2%;
}

.all{
    font-size: large; 
}
